@font-face  {
  font-family: "Circe-ExtraBold";
  font-display: swap;
  src: url("../fonts/Circe-ExtraBold.woff") format("woff"),
       url("../fonts/Circe-ExtraBold.woff2") format("woff2");
}

@font-face  {
  font-family: "Circe-Light";
  font-display: swap;
  src: url("../fonts/Circe-Light.woff") format("woff"),
       url("../fonts/Circe-Light.woff2") format("woff2");
}

@font-face  {
  font-family: "Circe-Regular";
  font-display: swap;
  src: url("../fonts/Circe-Regular.woff") format("woff"),
       url("../fonts/Circe-Regular.woff2") format("woff2");
}

@font-face  {
  font-family: "PFHandbookPro-Regular";
  font-display: swap;
  src: url("../fonts/PFHandbookPro-Regular.woff") format("woff"),
       url("../fonts/PFHandbookPro-Regular.woff2") format("woff2");
}
